@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@font-face {
  font-family: 'SF-regular';
  src: url("../../assets/font/SFProDisplay-Regular.woff") format("woff2"), url("../../assets/font/SFProDisplay-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

html, body {
  font-family: 'SF-regular';
  line-height: 1.8;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

<<<<<<< HEAD
footer {
  background-color: #222222;
  font-size: 12px;
  color: #949494;
}

footer h4 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

footer a {
  color: #949494;
  transition: .5s;
}

footer a:hover {
  color: white;
}

footer .container .top {
  display: flex;
  padding-top: 20px;
}

footer .container .top__left {
  flex: 1;
  padding: 0 15px;
}

footer .container .top__left ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer .container .top__left ul li {
  width: 120px;
}

footer .container .top__mid {
  flex: 1;
  padding: 0 15px;
}

footer .container .top__mid-icon {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

footer .container .top__mid-icon a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 15px;
}

footer .container .top__mid-icon a img:hover {
  filter: brightness(70%);
}

footer .container .top__right {
  flex: 2;
  display: flex;
  padding: 0 15px;
  justify-content: space-around;
}

footer .container .top__right-item {
  text-align: center;
}

footer .container .top__right-item .icon img {
  width: auto;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

footer .container hr {
  margin: 20px 0;
  border-top: 1px solid #4a4a4a;
}

footer .container .bot {
  display: flex;
  padding-bottom: 20px;
}

footer .container .bot__left {
  flex: 1;
  text-align: center;
}

footer .container .bot__left img {
  width: 80px;
  height: 40px;
  border-radius: 8px;
}

footer .container .bot__content {
  flex: 9;
  padding: 0 15px;
  font-size: 12px;
}

footer .container .bot__content h4 {
  color: white;
}

footer .container .bot__content a {
  color: #fb4226;
}

footer .container .bot__content a:hover {
  color: #b81b03;
}

footer .container .bot__right {
  flex: 2;
  text-align: center;
}

footer .container .bot__right img {
  width: 130px;
  height: 50px;
}

@media (max-width: 1200px) {
  footer .container .top__left {
    flex: 1;
  }
  footer .container .top__right {
    flex: 1.5;
  }
}

@media (max-width: 992px) {
  footer .container {
    max-width: 90%;
  }
  footer .container .top h4 {
    display: none;
  }
  footer .container .top__left ul {
    height: 100%;
  }
  footer .container .top__left ul li:nth-child(odd) {
    display: none;
  }
  footer .container .top__mid {
    display: none;
  }
  footer .container .top__right {
    justify-content: flex-start;
  }
  footer .container .top__right-item:first-of-type {
    display: none;
  }
  footer .container .top__right-item {
    text-align: left;
  }
  footer .container .bot__content {
    text-align: center;
=======
.promo {
  background: url(../../assets/img/backapp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.promo .container {
  display: flex;
  padding: 120px 0 80px 0;
}

.promo .container .promo__text {
  flex: 1.5;
  display: flex;
  justify-content: center;
}

.promo .container .promo__text .content {
  width: 68%;
  margin-top: 50px;
}

.promo .container .promo__text .content h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 55px;
}

.promo .container .promo__text .content a {
  color: white;
  padding: 10px 20px;
  background-color: #fb4226;
  font-weight: 600;
}

.promo .container .promo__text .content p:last-of-type {
  font-size: 14px;
  padding-top: 15px;
  margin-bottom: 10px;
}

.promo .container .promo__text .content p:last-of-type span {
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}

.promo .container .promo__img {
  flex: 1;
  display: flex;
  justify-content: left;
}

.promo .container .promo__img-mobile {
  width: 200px;
}

.promo .container .promo__img-mobile .mobile {
  position: relative;
  overflow: hidden;
}

.promo .container .promo__img-mobile .mobile .promo__carousel {
  width: 94%;
  position: absolute;
  top: 9px;
  left: 6px;
  border-radius: 25px;
  overflow: hidden;
}

.promo .container .promo__img-mobile .mobile .promo__carousel .item {
  outline: none;
}

.promo .container .promo__img-mobile .mobile .promo__carousel .item img {
  width: 100%;
  margin: 0;
}

@media (max-width: 992px) {
  .promo .container {
    flex-direction: column;
    padding-top: 10px;
  }
  .promo .container .promo__text {
    text-align: center;
    font-size: 14px;
  }
  .promo .container .promo__text .content {
    width: 60%;
  }
  .promo .container .promo__text .content h3 {
    width: 80%;
    font-size: 25.2px;
    margin: 0 auto;
  }
  .promo .container .promo__img {
    justify-content: center;
  }
  .promo .container .promo__img-mobile {
    width: 50vh;
  }
  .promo .container .promo__img-mobile .mobile .promo__carousel {
    left: 8px;
>>>>>>> main
  }
}

@media (max-width: 768px) {
<<<<<<< HEAD
  footer .container .top {
    flex-direction: column;
  }
  footer .container .top__left {
    display: flex;
    justify-content: center;
  }
  footer .container .top__right {
    justify-content: center;
  }
  footer .container .bot {
    flex-direction: column;
  }
  footer .container .bot__left {
    margin-bottom: 20px;
=======
  .promo .container .promo__text .content {
    width: 80%;
>>>>>>> main
  }
}
/*# sourceMappingURL=main.css.map */