//  Color
$color-red-primary: #fb4226;
$color-red-secondary: #fa5238;
$color-green-1: #00ac4d;
$color-green-2: #108f3e;
$color-green-3: #8bc541;
$color-gray-btn: #949494;
$color-gray-text: #9b9b9b;
$color-light-black: #4a4a4a;

//  Font size
$fs-heading: 32px;
$fs-title-active: 24px;
$fs-title: 20px;
$fs-large: 16px;
$fs-regular: 14px;
$fs-small: 13px;
$fs-xs: 12px;

//  Font weight



//  Animation

