@font-face {
    font-family: 'SF-regular';
    src: url('../../assets/font/SFProDisplay-Regular.woff') format('woff2'),
        url('../../assets/font/SFProDisplay-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

