@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import './font';

html, body{
    font-family: 'SF-regular';
    line-height: 1.8;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
