footer{
    background-color: #222222;
    font-size: $fs-xs;
    color: $color-gray-btn;

    h4{
        color: white;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    a{
        color: $color-gray-btn;
        transition: .5s;
        &:hover{
            color: white;
        }
    }


    .container{
        .top{
            display: flex;
            padding-top: 20px;
            &__left{
                flex: 1;
                padding: 0 15px;

                ul{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    

                    li{
                        width: 120px;
                        
                    }
                }
            }

            &__mid{
                flex: 1;
                padding: 0 15px;
                &-icon{
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    a{
                        img{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            margin-right: 15px;
                            margin-bottom: 15px;
                            &:hover{
                                filter: brightness(70%);
                            }
                        }
                    }
                }
            }

            &__right{
                flex: 2;
                display: flex;
                padding: 0 15px;
                justify-content: space-around;

                &-item{
                    text-align: center;
                    .icon{
                        img{
                            width: auto;
                            height: 30px;
                            margin: 5px;
                            cursor: pointer;
                        }
                    }
                }
            }

        }

        hr{
            margin: 20px 0;
            border-top: 1px solid #4a4a4a;
        }

        .bot{
            display: flex;
            padding-bottom: 20px;

            &__left{
                flex: 1;
                text-align: center;
                img{
                    width: 80px;
                    height: 40px;
                    border-radius: 8px;
                   
                }
            }

            &__content{
                flex:9;
                padding: 0 15px;
                font-size: $fs-xs;
                h4{
                    color: white;
                    
                }

                a{
                    color: $color-red-primary;
                    &:hover{
                        color: darken($color: $color-red-primary, $amount: 20%);
                    }
                }
            
            }

            &__right{
                flex: 2;
                text-align: center;
                img{
                    width: 130px;
                    height: 50px;
                    
                }
            }
        }
    }
}

@media (max-width: 1200px){
    footer{
        .container{
            .top{
                &__left{
                    flex: 1;
                }
                &__right{
                    flex: 1.5;
                }
            }
        }
    }
}


@media (max-width: 992px) {
    footer{
        .container{
            max-width: 90%;
            .top{
                h4{
                    display: none;
                }

                &__left{
                    ul{
                        height: 100%;
                        li:nth-child(odd){
                            display: none;
                        }
                    }
                }

                &__mid{
                    display: none;
                }

                &__right{
                    justify-content: flex-start;
                    &-item:first-of-type{
                        display: none;
                    }
                    &-item{
                        text-align: left;
                    }
                }
            }

            .bot{
                &__content{
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 768px){
    footer{
        .container{
            .top{
                flex-direction: column;
                &__left{
                    display: flex;
                    justify-content: center;
                }

                &__right{
                    justify-content: center;
                }
                
            }

            .bot{
                flex-direction: column;
                &__left{
                    margin-bottom: 20px;
                }
            }
        }
    }
}