.news{
    .container{
        .nav{
            justify-content: center;
            align-items: center;
            background: url(../../assets/img/back-news.png);
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 120px;
            border: none;

            .nav-item{
                .nav-link.active{
                    border: none;
                    background: transparent;
                    color: $color-red-primary;
                    font-size: $fs-title-active;
                }
                
                .nav-link{
                    color: black;
                    font-size: $fs-title;
                    border: none;
                    transition: .5s;
                    font-weight: 600;
                    &:hover{
                        border: none;
                        font-size: $fs-title-active;
                    }
                }
            }
        }
    }
}